.container{
    min-height: 100vh;
    position: relative;
    background: url("https://images.pexels.com/photos/5693889/pexels-photo-5693889.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover
;

}