.container {
    min-height: 100vh;
    max-width: 70%;
    margin: 0px auto 150px auto;
    top: 100px;
    position: relative;
}
.grid_content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 5%;
}
.product_img{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.borders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*padding: 10px;*/
    box-sizing: border-box;
    padding-top: 20px;
    justify-content: center;
}
.border_img{
    flex: 1;
    padding: 5px;
}
.borders img{
    width: 50px;
    height: 50px;
    min-height: 50px;
    cursor: pointer;
    object-fit: contain;

}
.big_img{
    height: 300px;
    max-height: 300px;
    transition: all 500ms ease-in-out;
}
.item_size_color select{
    min-width: 100px;
    padding: 5px;

}
.sale{
    background-color: red;
    text-align: center;
    color: white;
    margin: 5px 0px;
    max-width: 50px;

}
.n_price{
    color: black;
    font-size: 25px;
    padding: 5px 0;
}
.f_price{
    text-decoration: line-through;

}
.item_price{
    color: #45a1ff!important;
    font-weight: 500;

}
.item_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top_bar{
    display: flex;
    padding: 20px 0;
}
.my_place{
padding: 5px;
}
.back{
    border: 1px solid #eee;
    padding: 5px 20px;
    border-radius: 360% 0px 0px 360%;
    transition: all 400ms ease;
    cursor: pointer;
    opacity: .7;
}
.back:hover{
    opacity: 1;
}
.item_name,.item_price{
    font-size: 20px;
    padding-bottom: 10px;

}
.action{
    padding: 30px 0px;
    display: flex;
}
.action select{
    min-width: 100px;
    padding: 5px;
}
.action button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-left: 15px;
    font-weight: 600;
    border-radius: 3px;
    opacity: .7;
    cursor: pointer;

}
.head_bottom{
    font-size: 20px;
    padding-top: 30px;
}

.action button:hover{
    opacity: 1;
}
@media screen and (max-width: 920px){
    .grid_content{
        grid-template-columns: 1fr;
    }

}










