.container{
    width: 300px;
    max-width: 100%;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    bottom: 0;
    margin-left: -300px;
    box-shadow: 0px 5px 15px 0px #eee;
    transition: all 500ms ease-in-out;
    /*border-radius: 0px 0px 200px 0px;*/
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.icon{
    font-size: 30px;
    cursor: pointer;
    opacity: .7;
}
.icon:hover{
opacity: 1;
}
.aside_list{
    list-style: none;
    padding: 10px;
    margin: 0;

}
.aside_list li {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}